langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60

langgraph==0.4.5

langchain-huggingface==0.1.2
sentence-transformers==4.1.0
transformers==4.51.3
torch==2.7.0

langchain-chroma==0.2.4
chromadb==1.0.9

rank-bm25==0.2.2

langchain-groq==0.3.2
groq==0.24.0
streamlit==1.45.1

pypdf==5.5.0
pdfplumber==0.11.6

docling==2.34.0
unstructured==0.17.2

python-dotenv==1.1.0

numpy==2.2.5
pandas==2.2.3

scikit-learn==1.6.1